<template>
<div class="w-full">
    <div class="container mx-auto px-10">
        <p class="text-3xl text-black ">Популярные товары: <span class="border-b border-bold-orenge pb-[1px] text-bold-orenge text-xl">Все товары</span></p>
       
    </div>
</div>
</template>
<script>
export default {
    
}
</script>
<style lang="">
    
</style>