<template>
  <div class="flex items-center justify-center rounded brend">
    <img src="@/assets/img/icon/insta.svg" alt="" />
  </div>
</template>
<script>
export default {};
</script>
<style>
.brend {
  width: 252px;
  height: 160px;
}
</style>
