<template>
  <div class="w-[590px] h-[460px] bg-white ">
    <div class="flex justify-between bg-back-grey  p-10">
      <p>Войти</p>
      <img src="@/assets/img/icon/cancel.svg" alt="" srcset="" @click="$store.commit('toggleLog')" />
    </div>

    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
      class="demo-ruleForm p-10 placeholder-grey text-grey text-xl font-mono"
    >
      <el-form-item label="Номер телефона" prop="number" class="mb-6">
        <el-input v-model="ruleForm.number" placeholder="nomer" class="border"></el-input>
      </el-form-item>
      <el-form-item label="Пароль" prop="password">
        <el-input v-model="ruleForm.password" placeholder="parol" class="border"></el-input>
      </el-form-item>
      <el-button type="primary" @click="submitForm('ruleForm')"
        >Create</el-button
      >
    </el-form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      ruleForm: {
        number: "",
        password: "",
      },
      rules: {
        number: [
          {
            required: true,
            message: "Пожалуйста, введите Ваше имя!",
            trigger: "blur",
          },
          { validator: this.checkNumber, trigger: "blur" },
        ],
        password: [   {
            required: true,
            message: "Пожалуйста, введите Ваше имя!",
            trigger: "blur",
          },
            { validator: this.checkPassword, trigger: "blur" }],
      },
    };
  },
  methods: {
    checkPassword(rule, value, callback) {
      if (value === "") callback(new Error("Пожалуйста, введите пароль"));
      else if (value.length < 8) {
        callback(new Error("Пароль должен содержать минимум 8 символов"));
      } else {
        callback();
      }
    },
    checkNumber(rule, value, callback) {
      if (value === "")
        callback(new Error("Пожалуйста, введите номер телефона"));
      else if (value.length !== 10) {
        callback(new Error("Номер телефона должен содержать 10 цифр"));
      } else {
        callback();
      }
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert("Validation passed");
        } else {
          alert("Validation failed");
          return false;
        }
      });
    },
  },
};
</script>
<style lang=""></style>
