<template lang="">
  <div class="w-[252px]">
    <nuxt-link to="">
        <div class=" popular__img h-[336px] w-full relative rounded-2xl">
          <div class="w-full flex justify-center">
            <img src="@/assets/img/kreslo.png" />
          </div>
        <div class="absolute bottom-3 left-3 border border-black">
          <img src="@/assets/img/aksi.png" class="h-full" />
        </div>
      </div>
      <div class="popular__title py-3 px-4 rounded-2xl mt-2">
        <div class="flex justify-between">
          <div class="">
            <p class="text-xl text-bold-grey">3 000 000 cum</p>
            <p class="light-grey line-through text-xs">3 000 000 cum</p>
            <div class="flex gap-1">
              <img src="@/assets/img/icon/stardegre.svg" alt="star"/>
              <span>5.0</span>
            </div>
          </div>
          <div
            class="flex items-center justify-center w-8 h-8 bg-bold-orenge rounded-3xl"
          >
            <img src="@/assets/img/icon/buy.svg" />
          </div>
        </div>
        <p class="text-bold-grey text-xs font-medium mt-2">Руководительское кресло Metta Комплект 5.1 (Чёрный)</p>
      </div>
    </nuxt-link>
  </div>
</template>
<script>
export default {};
</script>
<style>
.popular__img {
  border: 1px solid rgb(243, 243, 250);
}
.popular__img {
  /* Multiple background layers */
  background:
    rgba(151, 151, 151, 0), 
    rgb(255, 255, 255);
}
.popular__title {
  background: rgb(249, 249, 249);
}
</style>
