<template>
  <div class="container mx-auto mt-8 mb-28">
    <div>
      <div class="flex gap-2 text-xl text-grey">
        <nuxt-link to="/" class="text-orenge">Главная</nuxt-link>
        <img src="@/assets/img/icon/arrow-right.svg" alt="arrow" srcset="" />
        <nuxt-link to="/comparison">Сравнение </nuxt-link>
      </div>
      <div class="flex justify-center mt-14">
        <div class="w-[388px]">
          <div class="w-full">
            <img
              src="@/assets/img/empty.png"
              alt="empty"
              class="w-full h-auto"
            />
          </div>
          <div class="w-full mt-8 text-xs font-normal text-center text-grey">
            <p class="mb-2 text-2xl font-medium text-bold-grey">
              Сравнивать пока нечего
            </p>
            <p>
              Добавляйте товары к сравнению характеристик и выбирайте самый
              подходящий вам товар
            </p>
            <nuxt-link to="/"
              class="flex justify-center w-full py-4 mt-6 text-xl bg-white border rounded-md border-orenge text-orenge hover:bg-orenge hover:text-white"
            >
              На главную
            </nuxt-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style lang=""></style>
