<template>
  <div class="flex py-14 absolute top-0 z-10 w-full h-auto bg-white">
    <div class="border flex">
      <div class="flex flex-col gap-y-14 border justify-start w-[250px] gap-6">
        <div class="flex gap-2 items-center icon-hover">
          <img src="@/assets/img/icon/Heart.svg" alt="Heart Icon" />
          <span>Избранное</span>
        </div>
        <div class="flex gap-2 items-center icon-hover">
          <img src="@/assets/img/icon/Heart.svg" alt="Heart Icon" />
          <span>Избранное</span>
        </div>
      </div>
      <div>
        <div></div>
      </div>
    </div>

    <div>
        <h2 class="text-3xl text-orenge font-medium">Texnika</h2>

        <div class="flex flex-wrap gap-y-6 pt-10 text-grey font-normal text-xl">
            <div class="w-[450px] border">
                <h3 class="text-bold-grey text-2xl font-medium pb-6">
                        title
                </h3>
                <div>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                </div>
            </div>
            <div class="w-[450px] border">
                <h3 class="text-bold-grey text-2xl font-medium pb-6">
                        title
                </h3>
                <div>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                </div>
            </div>
            <div class="w-[450px] border ">
                <h3 class="text-bold-grey text-2xl font-medium pb-6">
                        title
                </h3>
                <div>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                </div>
            </div>
            <div class="w-[450px]">
                <h3 class="text-bold-grey text-2xl font-medium pb-6">
                        title
                </h3>
                <div>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                    <p>link1</p>
                </div>
            </div>
        </div>

    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
