<template>
    <div class="w-full">
        <div class="container mx-auto px-10 pt-28">
            <h2 class="text-3xl text-black font-bold mb-6">Категории</h2>
            <div class="flex flex-wrap justify-between gap-6">
                <Card v-for="n of 20" :key="n"/>
            </div>
        </div>
    </div>
</template>
<script>
import Card from '../Card/Category.vue'
export default {
    components:{
        Card
    }
}
</script>
<style lang="">
    
</style>