<template>
  <div class="flex items-center w-full h-32 bg-white border border-red-500">
    <div class="container items-center mx-auto border">
      <div class="flex items-center justify-between text-xs head">
        <img src="@/assets/img/logo.png" class="h-11" />
        <div
          class="flex items-center gap-2 px-4 rounded bg-orenge/10 h-11 hover:bg-orenge/20 katalog"
        >
          <img
            src="@/assets/img/icon/menu.svg"
            class="border"
            v-show="!catalog"
            @click="openCatalog()"
          />
          <img
            src="@/assets/img/icon/cancel.svg"
            alt="x"
            v-show="catalog"
            @click="closeCatalog()"
          />
          <span class="text-bold-orenge">Каталог</span>
        </div>
        <div class="flex gap-0 border rounded border-bor-grey h-11">
          <input
            type="text"
            placeholder="Искать"
            class="ml-2 outline-none w-44"
          />
          <div class="flex items-center justify-center w-20 bg-btn-grey">
            <img src="@/assets/img/icon/Search.svg" />
          </div>
        </div>
        <div class="flex gap-5 text-bold-grey">
          <div class="flex items-center gap-2 icon-hover">
            <img src="@/assets/img/icon/Swap.svg" alt="" />
            <span>Сравнение</span>
          </div>
          <div class="flex items-center gap-2 icon-hover">
            <img src="@/assets/img/icon/Heart.svg" alt="" />
            <span>Избранное</span>
          </div>
          <div class="flex items-center gap-2 icon-hover">
            <img src="@/assets/img/icon/bag.svg" alt="" />
            <span>Корзина</span>
          </div>
          <div
            class="flex items-center gap-2 icon-hover"
            @click="$store.commit('toggleLog')"
          >
            <img src="@/assets/img/icon/Profile.svg" alt="" />
            <span>Войти</span>
          </div>
        </div>
      </div>
      <div class="relative flex justify-between w-full pt-7">
        <nuxt-link
          v-for="link in links"
          :key="link.id"
          :to="link.to"
          class="flex items-center gap-2 icon-hover"
        >
          <img :src="require(`../../assets/img/icon/${link.icon}.svg`)" />
          <span>{{ link.name }} </span>
        </nuxt-link>

        <Catalog v-show="catalog" />
      </div>
    </div>
  </div>
</template>

<script>
import Catalog from "./Catalog";

export default {
  data() {
    return {
      catalog: false,
      links: [
        { id: 1, to: "/category/crowd", icon: "crowd", name: "Подарки" },
        { id: 2, to: "/category/sofa", icon: "sofa", name: "Мебель" },
        { id: 3, to: "/category/sofa", icon: "sofa", name: "Техника" },
        { id: 4, to: "/category/tarelka", icon: "tarelka", name: "Текстиль" },
        { id: 5, to: "/category/tarelka", icon: "tarelka", name: "Посуда" },
        { id: 6, to: "/category/mats", icon: "mats", name: "Сантехника" },
        { id: 7, to: "/category/build", icon: "build", name: "Стройматериалы" },
        { id: 8, to: "/category/pens", icon: "pens", name: "Канцтовары" },
        { id: 9, to: "/category/aksi", icon: "aksi", name: "Акции" },
        { id: 10, to: "/category/arrow", icon: "arrow", name: "Ещё" },
      ],
    };
  },
  methods: {
    openCatalog() {
      this.catalog = true;
      // Add event listener when opening catalog
      document.body.addEventListener("click", this.handleOutsideClick);
    },
    closeCatalog() {
      this.catalog = false;
      // Remove event listener when closing catalog
      document.body.removeEventListener("click", this.handleOutsideClick);
    },
    handleOutsideClick(event) {
      // Check if the click occurred outside the container
      if (!this.$refs.contaier.contains(event.target)) {
        this.closeCatalog();
      }
    },
  },
  components: {
    Catalog,
  },
};
</script>

<style></style>
