<template>
  <div>
    <div class="container mx-auto px-10 order">
      <div class="router"></div>
      <p class="text-3xl text-bold-grey font-medium mb-6 mt-4">Мои заказы</p>
      <div class="border flex">
        <div
          class="flex flex-col w-[408px] gap-y-5 border-r border-bor-grey pb-72 mt-2"
        >
          <nuxt-link to="" class="flex items-center gap-2 order-icons">
            <div
              class="w-10 h-10 rounded-full bg-light-grey/20 flex items-center justify-center"
            >
              <img src="@/assets/img/icon/Profile.svg" class="w-4" />
            </div>
            <span>Мои заказы</span>
          </nuxt-link>
          <nuxt-link to="" class="flex items-center gap-2 order-icons">
            <div
              class="w-10 h-10 rounded-full bg-light-grey/20 flex items-center justify-center"
            >
              <img src="@/assets/img/icon/Profile.svg" class="w-4" />
            </div>
            <span>Мои заказы</span>
          </nuxt-link>
          <nuxt-link to="" class="flex items-center gap-2 order-icons">
            <div
              class="w-10 h-10 rounded-full bg-light-grey/20 flex items-center justify-center"
            >
              <img src="@/assets/img/icon/Profile.svg" class="w-4" />
            </div>
            <span>Мои заказы</span>
          </nuxt-link>
        </div>
        <div class="text-grey text-xl px-4">
          <div class="flex gap-10 h-7">
            <nuxt-link
              to=""
              class="hover:text-orenge hover:underline border-b border-white"
              >Все заказы</nuxt-link
            >
            <nuxt-link
              to=""
              class="hover:text-orenge hover:underline border-b border-white"
              >Неоплаченные</nuxt-link
            >
          </div>
          <div
            class="zakazs text-xs mt-6 flex flex-wrap justify-between gap-5 pb-14"
          >
            <div
              class="zakaz w-[544px] border border-bor-grey p-6 rounded-lg hover:bg-grey/10"
            >
              <div
                class="border-grey/40 flex items-center justify-between border-b"
              >
                <div class="pb-4">
                  <p class="text-black text-xl font-medium">ID заказа 32839</p>
                  <p>Обновлен 8 ноября 2022 г., 13:00</p>
                </div>
                <button class="bg-grey/10 hover:bg-grey/30 py-2 px-4">
                  Ожидания
                </button>
              </div>
              <div class="border-b flex gap-14 mt-4 pb-4 border-grey/40">
                <div class="right">
                  <p class="">Дата заказа</p>
                  <p class="text-black text-xl mb-5 font-medium">
                    Вторник, 8 ноября 2022 г., 12:59
                  </p>
                  <p>Способ оплаты</p>
                  <p class="text-black text-xl font-medium">Payme</p>
                </div>
                <div class="left">
                  <p>Способ доставки</p>
                  <p class="text-black text-xl mb-5 font-medium">Доствака</p>
                  <p>Сумма заказа</p>
                  <p class="text-black text-xl font-medium">250 000 сум</p>
                </div>
              </div>
              <div class="zakaz-rasmi flex gap-6 items-center py-4">
                <div
                  class="w-[81px] h-[81px] border border-bor-grey flex items-center justify-center"
                >
                  <img
                    src="@/assets/img/kreslo.png"
                    alt=""
                    class="h-full w-auto"
                  />
                </div>
                <div class="flex flex-col gap-y-6">
                  <p class="flex items-center gap-1">
                    Ноиманование:<span class="text-bold-grey font-min">
                      ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ
                      КРЕСЛО6206A-2
                    </span>
                  </p>
                  <div class="flex justify-between text-bold-grey">
                    <p>1 x 1 000 000 сум</p>
                    <p>1 000 000 сум</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="zakaz w-[544px] border border-bor-grey p-6 rounded-lg hover:bg-grey/10"
            >
              <div
                class="border-grey/40 flex items-center justify-between border-b"
              >
                <div class="pb-4">
                  <p class="text-black text-xl font-medium">ID заказа 32839</p>
                  <p>Обновлен 8 ноября 2022 г., 13:00</p>
                </div>
                <button class="bg-grey/10 hover:bg-grey/30 py-2 px-4">
                  Ожидания
                </button>
              </div>
              <div class="border-b flex gap-14 mt-4 pb-4 border-grey/40">
                <div class="right">
                  <p class="">Дата заказа</p>
                  <p class="text-black text-xl mb-5 font-medium">
                    Вторник, 8 ноября 2022 г., 12:59
                  </p>
                  <p>Способ оплаты</p>
                  <p class="text-black text-xl font-medium">Payme</p>
                </div>
                <div class="left">
                  <p>Способ доставки</p>
                  <p class="text-black text-xl mb-5 font-medium">Доствака</p>
                  <p>Сумма заказа</p>
                  <p class="text-black text-xl font-medium">250 000 сум</p>
                </div>
              </div>
              <div class="zakaz-rasmi flex gap-6 items-center py-4">
                <div
                  class="w-[81px] h-[81px] border border-bor-grey flex items-center justify-center"
                >
                  <img
                    src="@/assets/img/kreslo.png"
                    alt=""
                    class="h-full w-auto"
                  />
                </div>
                <div class="flex flex-col gap-y-6">
                  <p class="flex items-center gap-1">
                    Ноиманование:<span class="text-bold-grey font-min">
                      ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ
                      КРЕСЛО6206A-2
                    </span>
                  </p>
                  <div class="flex justify-between text-bold-grey">
                    <p>1 x 1 000 000 сум</p>
                    <p>1 000 000 сум</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="zakaz w-[544px] border border-bor-grey p-6 rounded-lg hover:bg-grey/10"
            >
              <div
                class="border-grey/40 flex items-center justify-between border-b"
              >
                <div class="pb-4">
                  <p class="text-black text-xl font-medium">ID заказа 32839</p>
                  <p>Обновлен 8 ноября 2022 г., 13:00</p>
                </div>
                <button class="bg-grey/10 hover:bg-grey/30 py-2 px-4">
                  Ожидания
                </button>
              </div>
              <div class="border-b flex gap-14 mt-4 pb-4 border-grey/40">
                <div class="right">
                  <p class="">Дата заказа</p>
                  <p class="text-black text-xl mb-5 font-medium">
                    Вторник, 8 ноября 2022 г., 12:59
                  </p>
                  <p>Способ оплаты</p>
                  <p class="text-black text-xl font-medium">Payme</p>
                </div>
                <div class="left">
                  <p>Способ доставки</p>
                  <p class="text-black text-xl mb-5 font-medium">Доствака</p>
                  <p>Сумма заказа</p>
                  <p class="text-black text-xl font-medium">250 000 сум</p>
                </div>
              </div>
              <div class="zakaz-rasmi flex gap-6 items-center py-4">
                <div
                  class="w-[81px] h-[81px] border border-bor-grey flex items-center justify-center"
                >
                  <img
                    src="@/assets/img/kreslo.png"
                    alt=""
                    class="h-full w-auto"
                  />
                </div>
                <div class="flex flex-col gap-y-6">
                  <p class="flex items-center gap-1">
                    Ноиманование:<span class="text-bold-grey font-min">
                      ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ
                      КРЕСЛО6206A-2
                    </span>
                  </p>
                  <div class="flex justify-between text-bold-grey">
                    <p>1 x 1 000 000 сум</p>
                    <p>1 000 000 сум</p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="zakaz w-[544px] border border-bor-grey p-6 rounded-lg hover:bg-grey/10"
            >
              <div
                class="border-grey/40 flex items-center justify-between border-b"
              >
                <div class="pb-4">
                  <p class="text-black text-xl font-medium">ID заказа 32839</p>
                  <p>Обновлен 8 ноября 2022 г., 13:00</p>
                </div>
                <button class="bg-grey/10 hover:bg-grey/30 py-2 px-4">
                  Ожидания
                </button>
              </div>
              <div class="border-b flex gap-14 mt-4 pb-4 border-grey/40">
                <div class="right">
                  <p class="">Дата заказа</p>
                  <p class="text-black text-xl mb-5 font-medium">
                    Вторник, 8 ноября 2022 г., 12:59
                  </p>
                  <p>Способ оплаты</p>
                  <p class="text-black text-xl font-medium">Payme</p>
                </div>
                <div class="left">
                  <p>Способ доставки</p>
                  <p class="text-black text-xl mb-5 font-medium">Доствака</p>
                  <p>Сумма заказа</p>
                  <p class="text-black text-xl font-medium">250 000 сум</p>
                </div>
              </div>
              <div class="zakaz-rasmi flex gap-6 items-center py-4">
                <div
                  class="w-[81px] h-[81px] border border-bor-grey flex items-center justify-center"
                >
                  <img
                    src="@/assets/img/kreslo.png"
                    alt=""
                    class="h-full w-auto"
                  />
                </div>
                <div class="flex flex-col gap-y-6">
                  <p class="flex items-center gap-1">
                    Ноиманование:<span class="text-bold-grey font-min">
                      ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ КРЕСЛО 6206A-2 ОФИСНОЕ
                      КРЕСЛО6206A-2
                    </span>
                  </p>
                  <div class="flex justify-between text-bold-grey">
                    <p>1 x 1 000 000 сум</p>
                    <p>1 000 000 сум</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>
<style>
.font-min {
  font-size: 12px;
}
</style>
